.post_item .image {
    height: 200px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
}

.post_item .info {
    position: relative;
    height: calc(100% - 200px);
    padding: 16px 14px 80px 14px;
}

.post_item .image img  {
    margin-left: 5px;
}

.info_edit {
    font-family: 'Roboto', Тahoma, sans-serif;
    color: #002beb;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.info_edit:hover {
    transform: scale(1.1);
}

.info_text p {
    font-size: 15px;
    line-height: 20px;
    font-family: Verdana, sans-serif;
    margin-bottom: 10px;
    cursor: pointer;
}

.info_text p:hover {
    background-color: lightgray;
}

.info_text p:last-child {
    margin-bottom: 0;
}

.post_item .a_btn {
    font-size: 11px;
    line-height: 10px;
    padding: 8px 15px;
    color: #FFF;
    font-weight: bold;
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #002beb;
    cursor: pointer;
    border: 2px solid #5271ff;
    margin-left: 10px;
}

.a_btn:hover {
    color: #002beb;
    background: #FFF;
}

.post_date {
    margin-left: 5px;
    font-family: 'Roboto', Тahoma, sans-serif;
    font-size: 10px;
}