.uploader {
    height: 300px;
    width: 300px;
    position: fixed;
    background-color: rgb(43, 153, 91);
    bottom: 0;
    right: 0;
    padding: 20px;
    border-radius: 12px;
    overflow-y: auto;
}

.uploader_header {
    display: flex;
    justify-content: space-between;
}

.uploader_title {
    font-size: 1.2rem;
}

.uploader_close {
    padding: 3px;
}

.upload_file {
    background-color: white;
    border-radius: 8px;
    margin: 2px 0;
    padding: 3px 7px;
}

.upload_file_header {
    display: flex;
    justify-content: space-between;
}

.upload_file_progress_bar {
    height: 1.5rem;
    border-radius: 8px;
    background-color: white;
    display: flex;
    margin: 2px 0;
    border: solid 1px grey;
}

.upload_file_upload_bar {
    background-color: grey;
    width: 0;
    border-radius: 8px;
}

.upload_file_percent {
    color: black;
    left: 50%;
    position: absolute;
}

.upload_file_remove {
    padding: 0;
}