.appWrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    min-height: 100vh;
    grid-template-rows: 100px 90px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'navbar' 'content';
    background-color: white;
    /*background-size: cover;*/
    /*background-color: rgb(255 240 245);*/
}

